<div class="col-lg-12">
    <br>
    <button class="btn btn-primary">Add New</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Email</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Employee Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Job 1</td>
                <td>30/09/2020</td>
                <td>Fest, Lest</td>
                <td>fest@test.com</td>
                <td>001</td>
                <td>(987) 123-4567</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Job 2</td>
                <td>30/10/2020</td>
                <td>Fest, Lest</td>
                <td>fest@test.com</td>
                <td>001</td>
                <td>(987) 123-4567</td>
            </tr>            
        </tbody>
    </table>
</div>